.container{
    width: 950px;
    height: 900px;
    background-color: silver;
    margin: 0px auto;
    padding-left: 40px;
    padding-top: 40px;
}
.top-nav {
    height: 110px;
    width: 1385;
    background-color: green;
    margin: 10px auto;
    margin-left: 2%;
    margin-right: 2%;
}
.side-nav {
    display: inline-block;
    height: 310px;
    width: 210px;
    background-color: blue;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.main {
    
    height: 400px;
    width: 680px;
    background-color: red;
    padding: auto;
    display: inline-block;
    margin-block: 2%;
}
.sub-content {
    display: inline-block;
    height: 170px;
    width: 200px;
    background-color: yellow;
    margin-block: 2%;
    margin-right: 1%;
    margin-left: 1%;
}
#advertisement {
    display: inline-block;
    height: 115px;
    width: 630px;
    background-color: purple;
    display: inline-block;
    margin-left: 1%;

}